<mat-card class="product-card">
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{category}}</mat-card-subtitle>
  </mat-card-header>

  <div class="product-photo" mat-card-image>
    <img [src]="currentPhoto" [alt]="'Photo of ' + category" (click)="onClick()">
  </div>

  <mat-progress-bar
    class="photo-bar"
    [value]="(photoIndex + 1) * 100 / product.photos.length">
  </mat-progress-bar>
  <mat-card-content>
    <p>
    {{description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
