<div class="submit-form">
  <mat-form-field class="full-width">
    <mat-select placeholder="Select a region">
      <mat-option value="region1">Region 1</mat-option>
      <mat-option value="region2">Region 2</mat-option>
      <mat-option value="region3">Region 3</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-select placeholder="Select city">
      <mat-option value="city1">City 1</mat-option>
      <mat-option value="city2">City 2</mat-option>
      <mat-option value="city3">City 3</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="accent" onclick="">Next</button>
</div>
