<div class="submit-form" [formGroup]="form">
  <mat-input-container class="full-width">
    <mat-select placeholder="Regions" (selectionChange)="activeRegionId = $event.value" [(value)]="activeRegionId">
      <mat-option *ngFor="let region of regions" [value]="region.id" >
        {{ region.name }}
      </mat-option>
    </mat-select>
  </mat-input-container>

  <mat-input-container class="full-width" *ngIf="activeRegionId">
    <mat-select placeholder="Cities" formControlName="cityId">
      <mat-option *ngFor="let city of cities" [value]="city.id">
        {{ city.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="isFieldInvalid('cityId')">Please inform your city</mat-error>
  </mat-input-container>

  <button mat-raised-button color="accent" onclick="" matStepperPrevious="">Back</button>
  <button mat-raised-button color="accent" onclick="" (click)="onSubmit()" matStepperNext>Next</button>
</div>
