<div class="submit-form">
  <mat-form-field class="full-width">
    <input matInput placeholder="Name">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Email" type="email">
  </mat-form-field>

  <mat-form-field class="full-width">
    <span matPrefix>+375 &nbsp;</span>
    <input type="tel" matInput placeholder="Phone number 1">
  </mat-form-field>

  <mat-form-field class="full-width">
    <span matPrefix>+375 &nbsp;</span>
    <input type="tel" matInput placeholder="Phone number 2">
  </mat-form-field>


  <button mat-raised-button color="accent" onclick="">Next</button>
</div>
