.submit-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto auto 10px;
  padding-top: 10px;
}

.full-width {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.row > * {
  flex-grow: 1;
}
